# Elasticsearch
ES_NODE_NAME=elasticsearch
ES_CLUSTER_NAME=es-docker-cluster
ES_SECURITY_DISABLED=false
ES_JAVA_OPTS=-Xms512m -Xmx512m
ELASTICSEARCH_HOSTS=http://elasticsearch:9200
ELASTICSEARCH_URI=http://localhost:9200

# Keycloak Admin
KEYCLOAK_ADMIN=your_username
KEYCLOAK_ADMIN_PASSWORD=your_password
KC_DB=h2-file
KEYCLOAK_URI=http://localhost:9090/realms/${REALM}
